@import "./../colors";

.persons-container {
    display: flex;
    justify-content: center;

    .flex-grid {
        max-width: 1024px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 1px;
    }

    .col {
        display: inline-block;
        width: 32%;
    }

    .persons-item {
        position: relative;
        margin-bottom: 20px;
        border-radius: 4px;
        background: #f5f5f5;
        box-shadow: 0 20px 25px -15px rgb(0 0 0 / 30%);

        .persons-img-header {
            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4)), url('https://picsum.photos/1000/800/?random') center center no-repeat;
            background-size: cover;
        }
    }
    
    .persons-img-header {
    
        height: 200px;
        position: relative;
        margin-bottom: 20px;
    
        h2 {
            color: $text;
            position: absolute;
            bottom: 5px;
            left: 20px;
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .persons-container {
        .col {
            width: 49%;
        }
    }
}

@media only screen and (min-width: 401px) and (max-width: 767px) {
    //Put your CSS here for 200px to 767px width devices (cover all width between 200px to 767px //
    .persons-container {
        .col {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 200px) and (max-width: 400px) {
    .persons-container {
        .col {
            width: 100%;
        }
    }
}